[submodule "third_party/doctest"]
	path = third_party/doctest
	url = https://github.com/onqtam/doctest
[submodule "third_party/llvm"]
	path = third_party/llvm
	url = git@github.com:llvm-mirror/llvm.git
[submodule "third_party/libcxx"]
	path = third_party/libcxx
	url = git@github.com:EmilGedda/libcxx.git
[submodule "third_party/libcxxabi"]
	path = third_party/libcxxabi
	url = git@github.com:EmilGedda/libcxxabi.git
[submodule "third_party/libunwind"]
	path = third_party/libunwind
	url = git@github.com:EmilGedda/libunwind.git
[submodule "third_party/type_safe"]
	path = third_party/type_safe
	url = https://github.com/foonathan/type_safe
